/* ABOUT */
.background img {
    top: -150px;
}

.about {
    position: relative;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 5em 5em 0;
}

.about-section {
    max-width: 50%;
}

.about-section img {
    width: 80%;
    margin: 3em;
}

.about-txt {
    width: 50%;
    font-size: 24px;
    line-height: 45px;
    padding: 3em;
}

.info {
    padding: 5em 5em 0;
}

.info-text h3 {
    padding: 0;
    color: rgb(57, 57, 57);
}

.photo {
    background-color: rgb(241, 241, 239);
    padding: 3em;
}

.txt {
    font-size: 28px;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 1em 9em;
}

.grid {
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: auto;
}

.grid img {
    width: 609px;
    margin: 1em;
}

.second-photo {
    grid-column-start: 2;
}

@media screen and (max-width: 992px) {

    .about-shop p {
        font-size: 24px;
        margin: 2em 5em;
    }

    .about-section img {
        width: 100%;
        margin: 0;
    }

    .about-txt {
        width: 50%;
        font-size: 16px;
        line-height: 26px;
        padding: 1em;
    }

    .txt {
        padding: 0;
        font-size: 22px;
    }

    .grid img {
        width: 300px;
    }
}

@media screen and (max-width: 720px) {
    .background img {
        top: 0;
    }

    .about-shop p {
        font-size: 16px;
        margin: 10px;
    }

    .about {
        flex-direction: column;
        padding: 3em 0 0;
    }

    .about-section {
        max-width: 80%;
    }

    .about-txt {
        width: 85%;
    }

    .photo {
        padding: 1em;
    }

    .grid img {
        width: 140px;
        margin: 0;
    }

    .info {
        padding: 2em 0 0;
    }

    ul {
        margin: 1em;
        padding: 0;
    }
}
