/* CONTACTS */
.main-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, #272c3b, transparent);
    opacity: 0.5;
    max-height: 65em;
}

.contact {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 5em 10em;
    background-color: rgb(241, 241, 239);
    text-align: center;
}

.about-contact h3 {
    font-size: 32px;
}

.about-contact p {
    font-size: 20px;
    line-height: 2em;
}

.contact div {
    margin: 0 3em;
}

.contact-data h2 {
    font-weight: 300;
    font-size: 28px;
}

.contact-data a,
.contact-data p {
    font-size: 24px;
}

.info {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    padding: 5em;
}

.info img {
    width: 50em;
}

ul {
    margin: 3em;
    padding: 0;
}

ul li {
    list-style-type: none;
    padding: 10px;
}

ul li a {
    color: #000;
    font-size: 28px;
    text-decoration: none;
}

.info-text h3 {
    font-size: 22px;
    color: #898989;
    padding: 1em;
}

@media screen and (max-width: 992px) {
    .contact {
        display: block;
        padding: 3em 0;
    }

    .info img {
        width: 90%;
    }
}

@media screen and (max-width: 720px) {
    .about-shop p {
        margin: 30px 10px;
    }

    .contact div {
        margin: 0 1em;
    }

    .about-contact h3 {
        font-size: 22px;
    }

    .about-contact p {
        font-size: 14px;
        line-height: 30px;
    }

    .info {
        padding: 1em;
    }

    ul {
        margin: 1em;
    }
}