/* MAIN */
.main-shop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-lot-img {
    max-width: 50%;
}

.main-lot-img img {
    max-width: 70%;
    margin: 40px;
}

.main-lot-text h2 {
    color: #fff;
    font-size: 4vw;
    font-weight: 400;
    max-width: 70%;
}

.main-lot-text > a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-size: 1.4vw;
    font-weight: 400;
    background-color: rgb(194, 164, 131);
    border-radius: 15px;
    padding: 5% 16%;
}

.main-lot-text > a:hover {
    background-color: rgba(194, 164, 131, 0.8);
    transition: 0.3s;
}

.title {
    background-color: rgb(241, 241, 239);
    font-size: 32px;
    padding: 2rem;
    text-align: center;
    line-height: 2em;
}

/* PRE-SHOP */

.pre-shop {
    display: flex;
    justify-content: space-around;
    margin: 50px 30px;
}

.pre-shop div {
    width: 50%;
    margin: 10px;
}

.product img {
    width: 100%;
}

.product a {
    text-decoration: none;
}

.product p {
    color: #000;
    text-decoration: none;
    font-size: 28px;
    top: -4em;
    left: 2em;
}

/* FORM */

form {
    border: 1px solid #000;
    padding: 15px 70px;
}

.form {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 5em;
}

.form h3 {
    font-weight: 300;
    font-size: 2vw;
    margin: 0;
}

.form p {
    font-size: 18px;
    margin: 25px 0 40px;
}

input {
    margin: 10px;
}

.email {
    padding: 2em 10em 2em 2em;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 0;
}

.btn {
    padding: 2em 3em;
    border: 1px solid #000;
    border-radius: 0;
    background-color: black;
    color: white;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.872);
}

::placeholder {
    font-size: 24px;
}

input:focus {
    outline: 1px solid black;
    border: none;
}

h4 {
    color: rgba(0, 0, 0, 0.7);
    margin: 40px 0 0;
}
