/* SHOP */
.shop {
    display: flex;
    justify-content: space-around;
    padding: 50px 30px;
    background-color: #fff;
}

.about-shop p {
    position: relative;
    color: white;
    font-size: 36px;
    margin: 4em 5em;
    text-align: center;
}

.shop,
.shop-categories-section {
    position: relative;
}

.product img {
    width: 100%;
}

.product a {
    text-decoration: none;
}

.product p {
    color: #000;
    text-decoration: none;
    font-size: 28px;
    position: relative;
}

.shop-title h2 {
    font-size: 3vw;
    font-weight: 100;
}

.shop-categories-section {
    background-color: white;
    text-align: center;
}

.shop-title {
    padding: 1em;
}

.shop-categories {
    padding: 3em;
}

.shop-categories a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    margin: 1em;
}

.shop-categories span {
    color: rgba(219, 219, 219);
}

.shop-list {
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    grid-column-gap: 4vw;
    grid-row-gap: 6vw;
    padding: 0;
}

h3 {
    color: black;
    font-weight: 400;
    font-size: 22px;
    margin: 0;
}

a:hover > .detail {
    opacity: 0;
}

.hidden {
    display: none;
}

@media screen and (max-width: 992px) {

    .about-shop p {
        font-size: 24px;
        margin: 1em 6em;
    }
}

@media screen and (max-width: 720px) {

    .shop {
        padding: 50px 20px;
    }

    .shop-title h2 {
        font-size: 5vw;
    }

    .about-shop p {
        font-size: 16px;
        margin: 5px 10px;
    }
    .product p {
        font-size: 24px;
    }
    .shop-categories {
        padding: 1em;
    }

    .shop-categories a {
        font-size: 16px;
    }

    .shop-list {
        grid-template-columns: repeat(1,minmax(0,1fr));
    }
}