* {
    font-family: 'Roboto Serif', serif;
    font-weight: 200;
}

body {
    margin: 0;
}

.contact,
.footer,
.header,
.info,
.main-lot-img img,
.main-lot-text,
.product,
.title {
    position: relative;
}

/* HEADER */

.header {
    position: relative;
    display: grid;
    grid-template-columns: repeat(11,1fr);
    grid-column-gap: 25px;
    justify-content: center;
    align-items: baseline;
    background-color: transparent;
    z-index: 10;
}

.header a {
    text-decoration: none;
    color: #fff;
}

.nav {
    display: grid;
    grid-auto-flow: column;
    font-size: 22px;
    margin: 20px;
    grid-template-columns: repeat(3,1fr);
    grid-column-start: 1;
    grid-column-end: 3;
}

.nav a {
    margin: 20px;
    position: relative;
    color: rgb(255, 255, 255);
    cursor: pointer;
    line-height: 1.5;
    text-decoration: none;
}

nav a:after {
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 0.5px;
    background-color: #ffffff;
    content: "";
    transition: width 0.25s ease-out;
}

nav a:hover:after {
    width: 100%;
}

.logo {
    font-size: 36px;
    margin: 32px;
    grid-template-columns: repeat(2,1fr);
    grid-column-start: 6;
    grid-column-end: 6;
}

.logo p {
    margin: 0;
}

.cart {
    height: 25px;
    width: 25px;
    margin: 40px 0;
    grid-column-start: 11;
    grid-column-end: 11;
}

.cart img {
    height: 25px;
    color: #fff;
}

/* MAIN BLOCK */

.background img {
    position: absolute;
    top: -50px;
    z-index: -1;
    width: 100%;
    object-position: 50% 50%;
    object-fit: cover;
}

.main-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, #32273b, transparent);
    opacity: 0.5;
    max-height: 65em;
}

/* FOOTER */

.footer {
    background-color: rgb(241, 241, 239);
    padding: 50px;
}

.footer a {
    color: #000;
    text-decoration: none;
}

.contacts___footer {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.copy {
    display: flex;
    justify-content: center;
    margin: 100px 0 0;
}

/* ANIMATION */

.element-animation {
    opacity: 0;
}

.element-animation.element-show {
    opacity: 1;
    transition: all 1.5s;
    transform: translateY(0%);
}

@media screen and (max-width: 992px) {
    .logo {
        font-size: 24px;
        margin: 10px;
    }

    .header {
        margin: 0 15px;
    }

    nav {
        position: fixed;
        top: 0;
        right: 0;
        width: 50%;
        bottom: 0;
        padding-top: 50px;
        transition: 0.5s;
        transform: translate(100%, -10%);
    }

    .nav.active-menu {
        transform: translateX(0%);
        background: #3f3637f5;
        margin: 0;
        grid-template-rows: repeat(3, 3em);
        grid-template-columns: none;
        text-align: center;
    }

    .cart {
        margin: 0;
        grid-column-start: 10;
        grid-column-end: 10;
    }

    .burger-menu {
        display: block;
        border: none;
        width: 32px;
        height: 22px;
        position: relative;
        background-color: transparent;
    }

    .burger-menu span {
        display: block;
        position: absolute;
        height: 1px;
        background-color: #fff;
        left: 0;
        right: 0;
    }

    .burger-menu span:nth-child(1) {
        top: 0;
    }

    .burger-menu span:nth-child(2) {
        top: 50%;
    }

    .burger-menu span:nth-child(3) {
        top: 100%;
    }

    .main-lot-img img {
        width: 65%;
    }

    .main-shop .main-lot-text > a {
        border-radius: 5px;
    }
}

@media screen and (max-width: 720px) {
    .logo {
        font-size: 24px;
        margin: 10px;
    }

    .logo {
        grid-column-start: 1;
        grid-column-end: 7;
    }

    .header {
        margin: 0 15px;
    }

    nav {
        width: 100%;
    }

    .nav.active-menu {
        transform: translateX(0%);
        background: #3f3637f5;
        margin: 0;
        grid-template-rows: repeat(3, 3em);
        grid-template-columns: none;
        text-align: center;
    }

    .cart {
        margin: 0;
        grid-column-start: 10;
        grid-column-end: 10;
    }

    .cart img {
        height: 20px;
    }

    .burger-menu {
        display: block;
        border: none;
        width: 24px;
        height: 16px;
        position: relative;
        background-color: transparent;
    }

    .burger-menu span {
        display: block;
        position: absolute;
        height: 1px;
        background-color: #fff;
        left: 0;
        right: 0;
    }

    .burger-menu span:nth-child(1) {
        top: 0;
    }

    .burger-menu span:nth-child(2) {
        top: 50%;
    }

    .burger-menu span:nth-child(3) {
        top: 100%;
    }

    .main-shop .main-lot-img img {
        width: 65%;
        margin: 15px;
    }

    .background img {
        top: 0;
    }

    .main-background {
        max-height: 15em;
    }

    .title p {
        font-size: 22px;
        line-height: 30px;
    }

    section.pre-shop {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 10px;
    }

    .pre-shop .product {
        width: 100%;
        margin: 0;
    }

    .form form h3 {
        font-size: 5vw;
    }

    form .email {
        padding: 1em 5em 1em 1em;
    }

    form .btn {
        padding: 1em 2em;
    }

    .form form {
        padding: 15px 20px;
    }

    .contacts___footer {
        flex-direction: column;
    }
}
